@use '../_shared/auth';

mat-checkbox {
  span {
    color: white;
  }

  &:hover {
    color: white;
  }

  ::ng-deep {
    .mdc-checkbox__background {
      border-color: white !important;
    }
  }
}
